<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Google analytics for the page -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171309141-1"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-171309141-1');
	</script>


	<title>Technical Prophet</title>
	<meta name="description" content="<%=seo.siteDescription%>">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- facebook linkedin meta tags -->
	<meta property="og:type" content="article" />
	<meta property="og:title" content="<%=seo.title%>" />
	<meta property="og:description" content="<%=seo.description%>" />
	<meta property="og:image" content="<%=seo.image%>" />
	<meta property="og:url" content="<%=seo.url%>" />
	<meta property="og:site_name" content="<%=seo.sitename%>" />

	<!-- twitter meta tags -->
	<meta name="twitter:title" content="<%=seo.title%>">
	<meta name="twitter:description" content="<%=seo.description%>">
	<meta name="twitter:image" content="<%=seo.image%>">
	<meta name="twitter:site" content="<%=seo.twitterSite%>">
	<meta name="twitter:creator" content="<%=seo.twitterCreator%>">
	<meta name="twitter:card" content="summary_large_image">

	<!-- canonical tag -->
	<link rel="canonical" href="http://blog.istemanipal.com/" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<!-- favicon -->
	<link rel="icon" href="/images/ISTELOG.png" type="image/gif" sizes="16x16">

	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">

	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">

	<link rel="stylesheet" href="css/aos.css">

	<link rel="stylesheet" href="css/ionicons.min.css">

	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<nav class="navbar px-md-0 navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">

			<a class="navbar-brand" href="/">Technical<i>Prophet</i>.</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li id="home" class="nav-item  active"><a href="/" class="nav-link">Home</a></li>
					<li id="articles" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/articles" id="navbarDropdown" role="button"
							aria-haspopup="true" aria-expanded="false">
							Articles
						</a>

						<div id="categoryDropDown" class="dropdown-menu" aria-labelledby="navbarDropdown">
						</div>

						<script>
							axios.get('/newPost/allCategories')
								.then(response => {
									var cats=response.data.data;
									for (var i = 0; i < cats.length; i++) {
										var anchor = document.createElement("a");
										anchor.classList.add("dropdown-item");
										anchor.href = "/articles?category="+cats[i].name
										anchor.innerHTML = cats[i].name.toString();
										document.getElementById("categoryDropDown").appendChild(anchor);
									}

								})
								.catch(error => {
									console.log(error);
								})
						</script>
					</li>
					<li id="about" class="nav-item "><a href="/about" class="nav-link">Team</a></li>
					<li id="contact" class="nav-item "><a href="/contact" class="nav-link">Contact</a></li>
					<% if( isLoggedIn===true) { %>
					<li id="newPost" class="nav-item "><a href="/newPost" class="nav-link">New Post</a></li>
					<li id="newPost" class="nav-item "><a href="/newPost/addCategory" class="nav-link">Add Category</a></li>
					<li id="logout" class="nav-item "><a href="/auth/logout" class="nav-link">Logout</a></li>

					<% } else { %>
					<li id="login" class="nav-item "><a href="/auth/login" class="nav-link">Login</a></li>
					<%}%>
					


					<script>
						//code for setting active page
						let route = window.location.href;
						console.log(route.includes('/about'))
						if (route.includes('/about')) {
							document.getElementById('about').classList.add('active');
							document.getElementById('home').classList.remove('active');
						}
						else if (route.includes('/articles')) {
							document.getElementById('articles').classList.add('active');
							document.getElementById('home').classList.remove('active');
						}
						else if (route.includes('/contact')) {
							document.getElementById('contact').classList.add('active');
							document.getElementById('home').classList.remove('active');
						}
					</script>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->

	<div class="hero-wrap js-fullheight" style="background-image: url('images/bg_1.jpg');"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
				data-scrollax-parent="true">
				<div class="col-md-12 ftco-animate">
					<span><img src="/images/ISTELOG.png" alt="" style="width: 10%; padding-bottom: 2%;"></span>

					<h2 class="subheading">Hello! Welcome to</h2>
					<h1 class="mb-4 mb-md-0">Technical Prophet</h1>
					<div class="row">
						<div class="col-md-7">
							<div class="text">
								<p>Official blog of ISTE Manipal.</p>
								<div class="mouse">
									<a href="#" class="mouse-icon">
										<div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>