<%- include('./partials/header'); -%>
<section class="ftco-section contact-section">
    <div class="container">
        <h1><%= message %></h1>
        <form id="myform" action="/newPost/addCategory" method="POST" class="bg-light p-4 p-md-5 contact-form"
            enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" name="category" class="form-control" placeholder="Category name" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary py-3 px-5">
            </div>
        </form>
        <br>
        <h4>Current Categories</h4>
        <ul>
            <%for(var i=0;i< categories.length;i++){%>
                <li><%= categories[i].name %> |  <span><a href="/newPost/delete/<%= categories[i]._id %>">Delete this category</a></span> </li>
            <%}%>
        </ul>
    </div>
</section>
<%- include('./partials/footer'); -%>